/* Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
	font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Sheard Styles */
header{

}
body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.linear-gradient{
	background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
	color: transparent;
	-webkit-background-clip: text;
}
.btn-primary{
	padding: 20px 40px;
	border-radius: 48px;
    background-color: #FF42A5;
	color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}
.btn-secondary{
	color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
	padding: 20px 40px;
	border-radius: 48px;
    background: #4EC5F7;
	border: none;
	margin-top: 20px;
	margin-left: 20px;
	cursor: pointer;
}
.title{
	font-size: 3rem;
    font-weight: 700;
	margin-bottom: 0px;
}

/* header styles */
.nav-container{
	display: flex;
	align-items: center;
	padding: 0px 200px;
}
.logo-container{
	width: 50%;
	display: flex;
	align-items: center;
}

.logo-title{
    color: #0B0223;
	font-size: 2.75rem;
    font-weight: 700;

}
.logo-title .gamer{
	color: #FF42A5;
}
.logo-container img{
	width: 85px;
	object-fit: cover;
	margin-right: 20px;
}
.menu-container{
	width: 50%;
}
.menu-container ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu-container ul li{
	list-style: none;
}
.menu-container ul li a{
	text-decoration: none;
	color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.follow-container{
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0px 15px;
	border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow{
	color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
           /* banner styles */
.banner-container{
	display: flex;
    height: 950px;
	gap: 100px;
}
.banner-text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-image: url("images/group14.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.banner-img{
	width: 50%;
	margin-right: 200px;
}
.banner-img img{
	width: 100%;
	height: 100%;
}
.banner-title-1{
	color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
	margin-bottom: 0px;
}
.banner-title-2{
	margin-bottom: 0px;
	margin-top: 0px;
    font-size: 6rem;
    font-weight: 800;
}
.banner-descripton{
	color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* header style end */


/* menu style start */

              /* we are gamer style */
.we-are-gamer{
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.we-are-gamer-container{
	max-width: 1400px;
	margin: 0px auto;
	display: flex;
	align-items: center;
}
.we-are-gamer-img{
	width: 55%;
	
}
.we-are-gamer-img img{
	max-width: 100%;
}
.we-are-gamer-description{
	width: 45%;
	text-align: right;
	
}
.purpose{
	color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
	margin-bottom: 0px;
	margin-top: 15px;
}
.unleash{
	color: #534C64;
    font-size: 2rem;
    font-weight: 700;
	margin-top: 15px;
}
         /* card style */
.card-section{
	text-align: center;
	margin-top: 100px;
}
.card-container{
	max-width: 1400px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	align-items: normal;
	margin-top: 30px;
}
.card{
	
}
.card img{
	width: 100%;
}
/* play instantly section style */

.linear-text{
	font-size: 3rem;
    font-weight: 700;
}
.play-instantly-section{
	margin-top: 80px;
}
.play-instantly-container{
	max-width: 1400px;
	margin: 0px auto;
	display: flex;
	gap: 50px;
}
.play-instantly-text{
	width: 50%;
	text-align: right;
	padding: 110px 40px;
}
.play-instantly-img{
	border: 2px soid blue;
	width: 50%;
}
.play-instantly-img img{
	width: 100%;
}
.play-instantly-main-img{
	margin-left: 6rem;
}
.play-instantly-main-img img{
	width: 100%;
}
.play-instantly-secnd-img{
	max-width: 14.5rem;
	position: relative;
	bottom: 15rem;
}

/* game srection */
.game-section{
	margin-top: 30px;
	margin-bottom: 100px;

}
.game-container{
	max-width: 1400px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
	align-items: baseline;
	gap: 35px;
}
.game{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
	
}
.game img{
	width: 60px;
}
.game-title{
	color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
	text-align: center;
}
/* footer style */
footer{
	background-color: #0B0223;
	border: 5px solid red;
}
.footer{
	text-align: center;
	border: 3px solid yellow;
	max-width: 1400px;
	margin: 100px auto;
}
.footer-text-color{
	color: #FFF;
}
.footer-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
    font-weight: 700;
}
.footer-logo img{
	width: 85px;
	object-fit: cover;
	margin-right: 20px;
}
.footer-logo .gamer1{
	color: #FF42A5;
}
.footer-menu ul{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
.footer-menu ul li{
	list-style: none;
}
.footer-menu ul li a{
	text-decoration: none;
	font-size: 1rem;
    font-weight: 600;
}
.social-sites ul{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 70px;
}
.policy ul{
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}
.policy ul li{
	list-style: none;
}
.policy ul li a{
	text-decoration: none;
}
.footer-text{
	
}






/* Media Query */

@media screen and (max-width: 576px) {
	body{
		margin: 0px 30px;
	}
	.nav-container,
	.we-are-gamer-container,
	.play-instantly-container{
		flex-direction: column;
		padding: 0px 0px;
	}
	.menu-container ul{
		flex-direction: column;
		padding: 0px;
	}
	.banner-container,
	{
		flex-direction: column-reverse;
		margin-top: 50px;
	}
	.menu-container ul li{
		margin-bottom: 20px;
	}
	.logo-container{
		flex-direction: row;
		justify-content: center;
	}
	.card-container{
		grid-template-columns: 1fr;
	}
    .game-container{
		grid-template-columns: repeat(3, 1fr);
	}

	.we-are-gamer-description,
	.play-instantly-text{
		text-align: center;
		padding: 0px;
	}
	.play-instantly-secnd-img {
	    max-width: 10rem;
	    position: relative;
	    bottom: 9rem;
    }
	.menu-container,
	.logo-container,
	.banner-img,
	.banner-text,
	.we-are-gamer-img,
	.we-are-gamer-description,
	.play-instantly-img,
	.play-instantly-text{
		width: 100%;
	}
}

@media screen and (min-width: 577px) and (max-width: 990px) {
	body{
		margin: 0px 50px;
	}
	.nav-container,
	.we-are-gamer-container,
	.play-instantly-container{
		flex-direction: column;
		padding: 0px 0px;
	}
	.logo-container{
		flex-direction: row;
		justify-content: center;
	}
	.menu-container ul{
		padding: 0px;
	    justify-content: center
	}
	.banner-container{
		flex-direction: column-reverse;
		margin-top: 420px;
	}
	.card-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.game-container{
		grid-template-columns: repeat(3, 1fr);
	}
	.we-are-gamer-description,
	.play-instantly-text{
		text-align: center;
		padding: 0px;
	}
	.play-instantly-secnd-img {
	    max-width: 18rem;
	    position: relative;
	    bottom: 18rem;
    }
	.menu-container,
	.logo-container,
	.banner-img,
	.banner-text,
	.we-are-gamer-img,
	.we-are-gamer-description,
	.play-instantly-img,
	.play-instantly-text{
		width: 100%;
	}
}