/* Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
	font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Sheard Styles */
header{

}
body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.linear-gradient{
	
}
.btn-primary{
	padding: 20px 40px;
	border-radius: 48px;
    background-color: #FF42A5;
	color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
	border: none;
}
.btn-secondary{
	color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
	padding: 20px 40px;
	border-radius: 48px;
    background: #4EC5F7;
	border: none;
}

/* header styles */
.nav-container{
	display: flex;
	align-items: center;
	padding: 0px 200px;
}
.logo-container{
	width: 50%;
	display: flex;
	align-items: center;
}

.logo-title{
    color: #0B0223;
	font-size: 2.75rem;
    font-weight: 700;

}
.logo-title .gamer{
	color: #FF42A5;
}
.logo-container img{
	width: 85px;
	object-fit: cover;
	margin-right: 20px;
}
.menu-container{
	width: 50%;
}
.menu-container ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu-container ul li{
	list-style: none;
}
.menu-container ul li a{
	text-decoration: none;
	color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.follow-container{
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 0px 15px;
	border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.follow{
	color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
           /* banner styles */
.banner-container{
	display: flex;
    height: 950px;
	gap: 100px;
}
.banner-text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-image: url("images/group14.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.banner-img{
	width: 50%;
	margin-right: 170px;
}
.banner-img img{
	width: 100%;
	height: 100%;
}
.banner-title-1{
	color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
	margin-bottom: 0px;
}
.banner-title-2{
	margin-bottom: 0px;
	margin-top: 0px;
    font-size: 6rem;
    font-weight: 800;
	background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-descripton{
	
}



/* Media Query */

@media screen and (max-width: 576px) {
	header{
		margin: 0px 20px;
	}
	.nav-container{
		flex-direction: column;
		padding: 0px 40px;
	}
	.menu-container ul{
		flex-direction: column;
	}
	.banner-container{
		flex-direction: column-reverse;
		margin-top: 250px;
	}
	.menu-container ul li{
		margin-bottom: 20px;
	}
	.logo-container{
		flex-direction: row;
		justify-content: center;
	}
	.menu-container,
	.logo-container,
	.banner-img,
	.banner-text{
		width: 100%;
	}
}

@media screen and (min-width: 577px) and (max-width: 990px) {
	header{
		margin: 0px 40px;
	}
	.nav-container{
		flex-direction: column;
		padding: 0px 50px;
	}
	.logo-container{
		flex-direction: row;
		justify-content: center;
	}
	.menu-container ul{
	
	    justify-content: center
	}
	.banner-container{
		flex-direction: column-reverse;
		margin-top: 250px;
	}
	.menu-container,
	.logo-container,
	.banner-img,
	.banner-text{
		width: 100%;
	}
}